<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="pl-PL">

<head>
    <div th:replace="general/headAndScripts :: head"/>
</head>

<body>

<div class="container">
    <header>
        <div th:replace="admin/header :: header"/>
    </header>

    <div class="width500pxMargin0auto">

        <div th:align="center">
            <h5 class="color950002" th:text="${message}"></h5>
            &nbsp;
        </div>

        <div>
            <form th:action="@{/admin/review}"
                  th:object="${review}"
                  th:method="post"
                  onsubmit="return validateCreateReviewForm()">

                <input type="hidden" id="reviewId" name="reviewId" th:field="*{id}">

                <div class="form-group">
                    <label>Tytuł oceny</label>
                    <input type="text" class="form-control" aria-describedby="headline" placeholder="Wpisz tytuł"
                           th:field="*{headline}">
                </div>

                <div class="form-group">
                    <label>Ocena</label>
                    <input type="number" min="1" max="6" class="form-control" aria-describedby="rating"
                           placeholder="Dodaj ocenę (liczby całkowite od 1 do 6)"
                           th:field="*{rating}">
                </div>

                <div class="form-group">
                    <label>Komentarz</label>
                    <input type="text" class="form-control" id="comment" placeholder="Wpisz komentarz"
                           th:field="*{comment}">
                </div>

                <div class="form-group">
                    <label>Nazwa producenta</label>
                    <br>
                    <select class="form-control" th:field="*{equipment.id}">
                        <th:block th:each="equipment : ${equipmentList}">
                            <option th:text="${equipment.name}" th:value="${equipment.id}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="form-group">
                    <label>Nazwa klienta</label>
                    <br>
                    <select class="form-control" th:field="*{customer.id}">
                        <th:block th:each="customer : ${customerList}">
                            <option th:text="${customer.email}" th:value="${customer.id}"></option>
                        </th:block>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Zatwierdź</button>
                <button type="button" class="btn btn-primary" id="cancel" onclick="javascript:history.go(-1);">
                    Anuluj
                </button>
            </form>
        </div>
    </div>
    &nbsp;
    <!-- Footer -->
    <div th:replace="admin/footer :: footer"/>
</div>

<!--Scripts JS-->
<div th:replace="general/headAndScripts :: scripts"/>

</body>
<script type="text/javascript">
    function validateCreateReviewForm() {
        var email = document.getElementById("email");
        var password = document.getElementById("password");
        var firstName = document.getElementById("firstName");
        var lastName = document.getElementById("lastName");
        var street = document.getElementById("street");
        var homeNumber = document.getElementById("homeNumber");
        var city = document.getElementById("city");
        var zipCode = document.getElementById("zipCode");
        var country = document.getElementById("country");
        var phone = document.getElementById("phone");

        if (email.value.length == 0) {
            alert("Email jest wymagany");
            email.focus();
            return false;
        }

        /*[# th:if="${customer == null}"]*/
        if (password.value.length == 0) {
            alert("Hasło jest wymagane");
            password.focus();
            return false;
        }
        /*[/]*/

        if (firstName.value.length == 0) {
            alert("Imię jest wymagane");
            firstName.focus();
            return false;
        }
        if (lastName.value.length == 0) {
            alert("Nazwisko jest wymagane");
            lastName.focus();
            return false;
        }
        if (street.value.length == 0) {
            alert("Nazwa ulicy jest wymagana");
            street.focus();
            return false;
        }
        if (homeNumber.value.length == 0) {
            alert("Numer domu jest wymagany");
            homeNumber.focus();
            return false;
        }
        if (city.value.length == 0) {
            alert("Miasto jest wymagane");
            city.focus();
            return false;
        }
        if (zipCode.value.length == 0) {
            alert("Kod pocztowy jest wymagany");
            zipCode.focus();
            return false;
        }
        if (country.value.length == 0) {
            alert("Kraj jest wymagany");
            country.focus();
            return false;
        }
        if (phone.value.length == 0) {
            alert("Numer telefonu jest wymagany");
            phone.focus();
            return false;
        }
        return true;
    }
</script>
</html>