<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head>
    <div th:replace="general/headAndScripts :: head"/>
</head>

<body>
<div class="container">
    <header>
        <div th:replace="admin/header :: header"/>
    </header>

    <div class="width80Margin50auto50">
        <table class="color00042dMargin0autoFontSizeLargeWidth1000px">
            <tr>
                <td class="width25percentage">
                    <a th:href="@{/admin/equipment/details(eqm='snowboardsHelmets',sex='all')}">Wszystkie kaski snowboardowe</a>
                </td>
                <td class="width25percentage">
                    <a th:href="@{/admin/equipment/details(eqm='snowboardsHelmets',sex='woman')}">Kaski snowboardowe dla kobiet</a>
                </td>
                <td class="width25percentage">
                    <a th:href="@{/admin/equipment/details(eqm='snowboardsHelmets',sex='man')}">Kaski snowboardowe dla mężczyzn</a>
                </td>
                <td class="width25percentage">
                    <a th:href="@{/admin/equipment/details(eqm='snowboardsHelmets',sex='child')}">Kaski snowboardowe dla dzieci</a>
                </td>
            </tr>
        </table>
    </div>

    <footer class="footerFreeSpace80px">
        <div th:replace="admin/footer :: footer"/>
    </footer>
</div>

<!--Scripts JS-->
<div th:replace="general/headAndScripts :: scripts"/>
</body>
</html>