<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head>
    <div th:replace="general/headAndScripts :: head"/>
</head>

<body>
<div class="container">
    <!-- Header-->
    <div th:replace="homepage/header :: header"/>

    <div class="paddingBottom20">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Strona główna</a>
            </li>
            <li class="nav-item">
                <span class="nav-link active">&rarr;</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/strefa-klienta/strefa-klienta}">Strefa klienta</a>
            </li>
            <li class="nav-item">
                <span class="nav-link active">&rarr;</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/strefa-klienta/faq}">FAQ</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <p class="fontSize30PaddingBottom20">FAQ</p>
        </div>
        <div>
            <p class="fontSize25PaddingBottom20">SKĄD MAM WIEDZIEĆ, ŻE SKLEP SNOWBOARD4HUMANS.PL JEST
                WIARYGODNY?</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                Jesteśmy legalną firmą i sprzedajemy sprzęt sportowy już od wielu lat. Naszą działalność na polskim
                rynku rozpoczęliśmy w 1997 roku. Przez kilka ostatnich lat konsekwentnie budowaliśmy pozycję silnego
                dystrybutora nart i snowboardu w kraju. Oferta naszego sklepu obejmuje szeroki asortyment desek, butów,
                wiązań oraz różnych akcesoriów i sprzętu zimowego. Sprowadzamy tylko oryginalny i nowy towar. Oferujemy
                klientom towar stockowy - pełnowartościowe narty, deski itp. z poprzednich sezonów. Co najważniejsze -
                wszystkie produkty, które oferujemy w naszych sklepach mamy w naszym magazynie. Wysyłka odbywa się z
                naszego działu dystrybucji. W 2006 roku uruchomiliśmy nasz pierwszy sklep internetowy www.snowboard4humans.pl,
                zdobywając kilkanaście tysięcy zadowolonych klientów i rozszerzając obszar działania. Później przyszła
                kolej na sklep www.snowboard4humans.pl. Dbamy, aby oferowany przez nas towar - narty i deski
                snowboardowe znanych marek - był najwyższej jakości i spełniał wysokie wymagania klientów. Dzięki
                zaangażowaniu naszych pracowników - fachowców, którzy chętnie udzielają cennych porad, zakupy w naszych
                e-sklepach są czystą przyjemnością.</p>
        </div>
        <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">
        <div>
            <p class="fontSize25PaddingBottom20">JAK WYSZUKAĆ INTERESUJĄCY MNIE PRODUKT?</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                Zespół naszych pracowników dokłada wszelkich starań, by zakupy dokonane w naszym sklepie były
                bezpieczne. Zachowujemy wszelkie procedury używane standardowo w innych sklepach internetowych.
                Stosujemy protokół SSL (Secure Socket Layer), który sprawia, że informacje bankowe wprowadzane przy
                zamówieniu są szyfrowane. Możesz być spokojny. Wszelkie podawane przez Ciebie dane podlegają naszej
                polityce prywatności.<br>
                Jeśli masz jakiekolwiek wątpliwości, zadzwoń do nas lub napisz. Jesteśmy do Twojej dyspozycji i chętnie
                odpowiemy na wszelkie pytania.</p>
        </div>
        <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">
        <div>
            <p class="fontSize25PaddingBottom20">CZY ZAKUPY W SNOWBOARD4HUMANS.PL SĄ BEZPIECZNE?</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                Jeśli wiesz, jakie narty, buty czy inne chcesz kupić, wpisz model w wyszukiwarkę w górnej prawej części
                strony. Jeśli szukasz produktu pasującego do Ciebie, możesz skorzystać z menu górnego i wyszukać produkt
                w poszczególnych kategoriach. Innym rozwiązaniem jest skorzystanie z filtrów po lewej stronie.
                Wystarczy, że klikniesz np. Narty Męskie, a dalej wyfiltrujesz, jaka cena i inne kryteria Cię
                interesują.</p>
        </div>
        <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">
        <div>
            <p class="fontSize25PaddingBottom20">JAK MAM SIĘ ZALOGOWAĆ DO SNOWBOARD4HUMANS.PL?</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                Zakupy w snowboard4humans.pl mają być szybkie i łatwe. Możesz się zalogować, tworząc swoje konto lub dokonać
                zakupów bez logowania. Założenie konta w snowboard4humans.pl nie jest obowiązkowe. Zachęcamy jednak do
                rejestracji
                i posiadania własnego konta. Dzięki temu przy kolejnych zakupach, będziesz mógł szybciej zamawiać
                produkty z naszej oferty, bez powtórnego uzupełniania danych teleadresowych, możesz na bieżąco
                monitorować status złożonych zamówień, przeglądać historię swoich zakupów, dokonywać zmian danych
                osobowych, zmieniać hasło dostępu, mieć swoje stałe adresy do wysyłek (przydatne, gdy dokonujesz
                zamówień na adres służbowy, a czasem na domowy lub gdy robisz prezent dla kogoś z rodziny lub
                znajomych). Posiadając konto w snowboard4humans.pl, możesz też zapisać swoje ulubione produkty do SCHOWKA.
                Założenie konta zajmie Ci mniej niż 2 minuty. Nie musisz pamiętać loginu, bo jest nim Twój adres e-mail,
                a gdybyś zapomniał hasła, które zdefiniowałeś, możemy Ci je szybko przypomnieć. Możesz też bez problemu
                zalogować się przez swoje konto na Facebooku.</p>
        </div>
        <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">
        <div>
            <p class="fontSize25PaddingBottom20">JAK MOGĘ ZŁOŻYĆ ZAMÓWIENIE?</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                Jeśli znalazłeś interesujący Cię produkt, kliknij przycisk DODAJ DO KOSZYKA – znajdujący się na stronie
                konkretnego produktu. Zobaczysz informację ZAKTUALIZOWANO PRZEDMIOTY W KOSZYKU. Możesz teraz kontynuować
                zakupy i wyszukiwać kolejne produkty lub przejść do Złożenia zamówienia. Możesz w każdej chwili
                modyfikować swój koszyk – usuwać produkty, zmieniać ich rozmiar i ilość. Na górnym pasku strony widzisz
                zawsze, ile masz produktów w koszyku, a gdy najedziesz kursorem na ikonkę koszyka, rozwinie się jego
                szybki podgląd. Wystarczy, że klikniesz POKAŻ KOSZYK, a przeniesiony zostaniesz do pełnej listy
                produktów w koszyku. Jeśli chcesz kontynuować zakupy, zawsze możesz kliknąć na KONTYNUUJ ZAKUPY.</p>
        </div>
        <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">
        <br>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                Kiedy już skończyłeś dodawanie produktów do koszyka i chcesz dokończyć proces zakupów, kliknij na
                przycisk PRZEJDŹ DO KASY. Najpierw poprosimy Cię o podanie danych adresowych. Tutaj możesz też
                zadecydować, czy chcesz podać inny adres wysyłki i czy życzysz sobie fakturę VAT. Następnie wybierz
                warunki dostawy - Kurier GLS (1 dzień roboczy) lub odbiór osobisty. Wybierz też odpowiednią dla Ciebie
                metodę płatności – płatność za pobraniem, zwykły przelew lub płatność z Twojego banku online przez
                dotpay.</p>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="homepage/footer :: footer"/>
</div>


<!--Scripts JS-->
<div th:replace="general/headAndScripts :: scripts"/>
</body>
</html>