<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head>
    <div th:replace="general/headAndScripts :: head"/>
</head>

<body>
<div class="container">
    <!-- Header-->
    <div th:replace="homepage/header :: header"/>

    <div class="paddingBottom20">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Strona główna</a>
            </li>
            <li class="nav-item">
                <span class="nav-link active">&rarr;</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/strefa-klienta/strefa-klienta}">Strefa klienta</a>
            </li>
            <li class="nav-item">
                <span class="nav-link active">&rarr;</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/strefa-klienta/reklamacje-i-zwroty}">Reklamacje i zwroty</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <p class="fontSize30PaddingBottom20">Reklamacje i zwroty</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize22PaddingBottom10"><strong>ZWROT</strong></p>

            <p class="fontSize18PaddingBottom5"><strong>W JAKI SPOSÓB MOGĘ ZWRÓCIĆ ZAKUPIONY TOWAR?</strong>
            </p>

            <p class="fontSize14PaddingBottom5">Okazało się, że zakupiony towar nie spełnia Twoich oczekiwań
                (nie odpowiada rozmiarem, jest nietrafionym prezentem albo po prostu nie podoba Ci się)?

                Zastosuj tych kilka prostych kroków, które w szybki sposób pomogą Ci zwrócić towar:</p>

            <p class="fontSize18PaddingBottom5"><strong>KROK 1
                <br><br>
                ZAPOZNAJ SIĘ Z NASZYM REGULAMINEM.</strong></p>

            <p class="fontSize14PaddingBottom5">Na stronie snowboard4humans.pl, w zakładce „regulamin sklepu”
                znajdziesz szczegółowe informacje dotyczące odstąpienia od umowy <a href="../onas/regulamin-sklepu.html">KLIKNIJ</a>
            </p>

            <p class="fontSize18PaddingBottom5"><strong>KROK 2
                <br><br>
                POINFORMUJ NAS O ODSTĄPIENIU OD UMOWY.</strong></p>

            <p class="fontSize14PaddingBottom5">Od umowy możesz odstąpić w ciągu 14 dni od momentu
                otrzymania produktu, bez podawania jakiejkolwiek
                przyczyny.
                <br><br>
                Dla celów dowodowych najlepiej wykonać to na piśmie np. wysyłając wiadomość mailową na adres:
                info@snowboard4humans.pl<br>
                - jednocześnie informujemy, że jest to wyłącznie procedura ułatwiająca, która nie ogranicza prawa
                ustawowego konsumenta przedstawionego w regulaminie.
                <br><br>
                Oświadczenie możesz sformułować samodzielnie lub skorzystać z gotowego formularza (protokół jest
                dołączany do paczki lub można go pobrać z zakładki „reklamacje i zwroty” na naszej stronie:
                snowboard4humans.pl).</p>

            <p class="fontSize18PaddingBottom5"><strong>KROK 3

                PRZYGOTUJ I WYŚLIJ PACZKĘ.</strong></p>

            <p class="fontSize14PaddingBottom5">
                Spakuj produkt, a następnie wyślij go dowolnym przekaźnikiem (nie później niż 14 dni od dnia, w którym
                poinformowali nas Państwo o odstąpieniu od niniejszej umowy) na adres naszego magazynu:
                <br><br>
                SNOWBOARD4HUMANS
                <br><br>
                ul. XYZ 00
                <br><br>
                xx – xxx XYZ
                <br><br>
                Termin jest zachowany jeżeli odeślesz rzecz przed upływem terminu 14 dni.
            </p>
            <p class="fontSize18PaddingBottom5"><strong>KROK 4

                OCZEKUJ NA ZWROT ŚRODKÓW.</strong></p>

            <p class="fontSize14PaddingBottom5">
                Wszystkie otrzymane płatności, w tym koszty dostarczenia rzeczy (z wyjątkiem dodatkowych kosztów
                wynikających z wybranego przez Państwa sposobu dostarczenia innego niż najtańszy zwykły sposób
                dostarczenia oferowany przez nas) nie później niż 14 dni od dnia, w którym zostaliśmy poinformowani o
                Państwa decyzji o wykonaniu prawa odstąpienia od niniejszej umowy.
                <br><br>
                Zapłaconą przez Ciebie kwotę zwrócimy na wskazany numer konta lub w inny, odpowiedni dla Ciebie sposób.
                <br><br>
                W każdym przypadku nie poniosą Państwo żadnych opłat z związku z tym zwrotem. Informujemy również, że
                możemy wstrzymać się ze zwrotem płatności do czasu otrzymania rzeczy lub do czasu dostarczenia nam
                dowodu jej odesłania, w zależności od tego, które zdarzenie nastąpi wcześniej.
                <br><br>
                Odpowiadasz tylko za zmniejszenie wartości rzeczy wynikające z korzystania z niej w sposób inny niż było
                to konieczne do stwierdzenia charakteru, cech i funkcjonowania rzeczy.
            </p>
            <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">

            <p class="fontSize18PaddingBottom5"><strong>WYMIANA</strong></p>

            <p class="fontSize14PaddingBottom5">Zakupiony produkt okazał się za mały albo za duży i
                chciałbyś go wymienić?
                <br><br>
                Dołożymy wszelkich starań żebyś jak najszybciej otrzymał swój wymarzony sprzęt. Co należy zrobić:</p>

            <p class="fontSize18PaddingBottom5"><strong>KROK 1
                <br><br>
                SPRAWDŹ CZY WYBRANY PRZEZ CIEBIE ROZMIAR JEST DOSTĘPNY NA STRONIE I ZŁÓŻ NOWE ZAMÓWIENIE.</strong></p>

            <p class="fontSize14PaddingBottom5">Poinformuj nas w dowolny sposób, że będzie to wymiana
                (bezpośrednio w zamówieniu – dodaj komentarz „WYMIANA”).
                <br><br>
                Jeżeli produkt, który Cię interesuje występuje wyłącznie w jednym rozmiarze, chętnie pomożemy Ci znaleźć
                nowy model, odpowiadający Twoim wymaganiom.</p>

            <p class="fontSize18PaddingBottom5"><strong>KROK 2
                <br><br>
                POINFORMUJ NAS MAILOWO O ODSTĄPIENIU OD UMOWY.</strong></p>

            <p class="fontSize14PaddingBottom5">Od umowy możesz odstąpić w ciągu 14 dni od momentu
                otrzymania produktu, bez podawania jakiejkolwiek przyczyny.
                <br><br>
                Dla celów dowodowych najlepiej wykonać to na piśmie np. wysyłając wiadomość mailową na adres:
                info@snowboard4humans.pl
                <br><br>
                Jednocześnie informujemy, że jest to wyłącznie procedura ułatwiająca, która nie ogranicza prawa
                ustawowego konsumenta przedstawionego w regulaminie..
                <br><br>
                Oświadczenie możesz sformułować samodzielnie lub skorzystać z gotowego formularza (protokół jest
                dołączany do paczki lub można go pobrać z zakładki „reklamacje i zwroty” na naszej stronie:
                snowboard4humans.pl).
            </p>
            <p class="fontSize18PaddingBottom5"><strong>KROK 3
                <br><br>
                PRZYGOTUJ I WYŚLIJ PACZKĘ.</strong></p>

            <p class="fontSize14PaddingBottom5">Spakuj produkt, a następnie wyślij go dowolnym przekaźnikiem
                na adres naszego magazynu:
                <br><br>
                SNOWBOARD4HUMANS
                <br><br>
                ul. XYZ 00
                <br><br>
                xx – xxx XYZ
                <br><br>
            </p>
            <p class="fontSize18PaddingBottom5"><strong>KROK 4
                <br><br>
                OCZEKUJ WIADOMOŚCI MAILOWEJ.</strong></p>

            <p class="fontSize14PaddingBottom5">
                Zostaniesz poinformowany o realizacji nowego zamówienia.
                <br><br>
                Będzie to oznaczało, że Twój zwrot już do nas dotarł i wysyłamy do Ciebie nową paczkę.
            </p>

            <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">

            <p class="fontSize26PaddingBottom5"><strong>REKLAMACJA SPRZĘTU</strong></p>

            <p class="fontSize14PaddingBottom5">
                Jeżeli uważasz, że zakupiony towar w jakikolwiek sposób jest niezgodny z zawartą umową, postępuj zgodnie
                z naszą instrukcją:</p>

            <p class="fontSize18PaddingBottom5"><strong>KROK 1
                <br><br>
                ZGŁOŚ REKLAMACJĘ TOWARU.</strong></p>

            <p class="fontSize14PaddingBottom5">
                Możesz zrobić to w dowolnej formie, ale dla celów dowodowych najbezpieczniej zrobić to pisemnie.
                <br><br>
                Wyślij nam maila na adres: info@snowboard4humans.pl. Precyzyjne opisanie wady i określenie twoich żądań ułatwi
                nam rozpatrzenie wady.
                <br><br>
                Możesz także skorzystać z gotowego formularza, który jest do pobrania na naszej stronie snowboard4humans.pl w
                zakładce „reklamacje i zwroty”.
                <br><br>
                Paragon fiskalny nie jest konieczny do zareklamowania produktu, jednak znacznie ułatwi złożenie
                reklamacji.
            </p>
            <p class="fontSize18PaddingBottom5"><strong>KROK 2
                <br><br>
                PRZYGOTUJ I WYŚLIJ PACZKĘ.</strong></p>

            <p class="fontSize14PaddingBottom5">
                Spakuj produkt, a następnie wyślij go dowolnym przekaźnikiem na adres naszego magazynu:
                <br><br>
                SNOWBOARD4HUMANS
                <br><br>
                ul. XYZ 00
                <br><br>
                xx – xxx XYZ
                <br><br>
            </p>
            <p class="fontSize18PaddingBottom5"><strong>KROK 3
                <br><br>
                OCZEKUJ NA INFORMACJĘ O ROZPATRZENIU REKLAMACJI.</strong></p>
            <p class="fontSize14PaddingBottom5">
                W ciągu 14 dni od otrzymania zwrotu, przedstawimy Ci decyzję dotyczącą rozpatrzenia reklamacji.
            </p>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="homepage/footer :: footer"/>
</div>


<!--Scripts JS-->
<div th:replace="general/headAndScripts :: scripts"/>
</body>
</html>