<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<head>
    <div th:replace="general/headAndScripts :: head"/>
</head>

<body>
<div class="container">
    <!-- Header-->
    <div th:replace="homepage/header :: header"/>

    <div class="paddingBottom20">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Strona główna</a>
            </li>
            <li class="nav-item">
                <span class="nav-link active">&rarr;</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/onas/o-nas}">O nas</a>
            </li>
            <li class="nav-item">
                <span class="nav-link active">&rarr;</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/onas/regulamin-sklepu}">Regulamin sklepu</a>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <p class="fontSize30PaddingBottom20">Regulamin sklepu</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize14">
                NINIEJSZY REGULAMIN OKREŚLA ZASADY KORZYSTANIA Z INTERNETOWEGO SKLEPU ZNAJDUJĄCEGO SIĘ POD ADRESEM
                www.snowboard4humans.pl.</p>
            <hr class="lineHeight0BorderNoneBorderTop1pxSolid000">
            <p class="fontSize14">Każda osoba korzystająca z usług sklepu internetowego www.snowboard4humans.pl ma
                obowiązek zapoznania się z niniejszym regulaminem.</p>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 1. ZASTOSOWANIE</p>
            <ol class="fontSize14">
                <li>Witryna znajdująca się pod adresem www.snowboard4humans.pl jest sklepem internetowym i służy do
                    prowadzenia sprzedaży na odległość za pośrednictwem sieci Internet.
                </li>
                <li>Przedmiotem działalności sklepu internetowego www.snowboard4humans.pl jest sprzedaż detaliczna oraz
                    hurtowa odzieży, sprzętu i akcesoriów sportowych oraz innych towarów za pośrednictwem sieci
                    Internet.
                </li>
                <li>Prowadzącą sklep internetowy www.snowboard4humans.pl – zwany dalej „Sklepem”, jest spółka „XYZ” Spółka
                    jawna z siedzibą we XYZ, ul. XYZ 00, 00-000 Miasto,<br>
                    <br>
                    wpisana do Krajowego Rejestru Sądowego przez Sąd Rejonowy dla XYZ – XXX we XYZ
                    Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem<br>
                    <br>
                    KRS: 0000000000, NIP: 0000000000, REGON: 0000000000,<br>
                    <br>
                    e-mail: info@snowboard4humans.pl, tel.: xx xxx xx xx.
                </li>
                <li>Niniejszy regulamin stosuje się do umów sprzedaży zawieranych między:<br>
                    <br>
                    spółką „XYZ” Spółka jawna – zwana dalej „Sprzedawcą”, a<br>
                    nabywcami jej produktów – osobami składającymi zamówienie – zwanymi dalej „Klientami”.
                </li>
                <li>Klientem może być osoba fizyczna będąca konsumentem, tj. osoba fizyczna dokonującą z przedsiębiorcą
                    czynności prawnej niezwiązanej bezpośrednio z jej działalnością gospodarczą lub<br>
                    <br>
                    zawodową i osoba fizyczna niebędąca konsumentem lub osoba prawna, posiadająca zdolność do czynności
                    prawnych.
                </li>
                <li>Regulamin skierowany jest do wszystkich Klientów Sklepu oraz określa zasady składania zamówień w
                    Sklepie, zawierania umów sprzedaży, dokonywania rejestracji i korzystania z konta Klienta.
                </li>
                <li>Sprzedawca umożliwia zapisanie Regulaminu w wersji PDF na wybranym przez Klienta nośniku.</li>
                <li>Przepisy dotyczące obowiązków Sprzedawcy zawierającego z Klientem umowę na odległość, zasady i tryb
                    zawierania oraz odstąpienia od takiej umowy wynikające z Ustawy o prawach konsumenta<br>
                    <br>
                    z dnia 30 maja 2014 r. (Dz. U. z 2014 r., poz. 827) mają zastosowanie jedynie do Klientów będących
                    konsumentami.
                </li>
                <li>Sprzedaż w Sklepie prowadzona jest tylko na terenie Polski, sprzedaż poza granicami Polski możliwa
                    jest pod warunkiem wcześniejszego porozumienia się ze Sprzedawcą.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 2. OPISY I ZDJĘCIA PRODUKTÓW</p>
            <ol class="fontSize14">
                <li>Sprzedawca udostępnia Klientom ogólną informację o produktach znajdujących się na stronie Sklepu,
                    zawierającą opis produktu zgodnie z informacjami rozpowszechnianymi przez producenta lub
                    dystrybutora.
                </li>
                <li>Wygląd, w szczególności kolor produktów prezentowanych na stronie internetowej sklepu może
                    nieznacznie odbiegać od rzeczywistego wyglądu tych produktów w granicach właściwych dla rozbieżności
                    występujących pomiędzy rzeczywistym wyglądem danej rzeczy a jej wyglądem na zdjęciu.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 3. INFORMACJE O KONTACH UŻYTKOWNIKA</p>
            <ol class="fontSize14">
                <li>Klient może złożyć zamówienie w Sklepie poprzez stronę internetową korzystając z konta Klienta,
                    korzystając z opcji złożenia zamówienia bez rejestracji konta Klienta w Sklepie poprzez wybranie
                    opcji „Kontynuuj bez rejestracji” lub korzystając z opcji logowania przez portal facebook.com.
                </li>
                <li>Rejestracja w serwisie spowoduje założenie konta Klienta, co umożliwia Klientowi sprawniejsze
                    dokonywanie zakupów w przyszłości, sprawdzanie historii zamówień, śledzenie na jakim etapie jest
                    realizacja zamówienia.
                </li>
                <li>Złożenie zamówienia bez rejestracji jest możliwe bez trwałego rejestrowania danych w bazie Sklepu,
                    warunkiem złożenia zamówienia jest wypełnienie wszystkich wymaganych w formularzu danych,
                    koniecznych do realizacji zamówienia.
                </li>
                <li>Rejestracji konta można dokonać w dowolnym momencie.
                </li>
                <li>W czasie rejestracji Klient proszony jest o zapoznanie się z regulaminem.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 4. ZAMÓWIENIA</p>
            <ol class="fontSize14">
                <li>Bieżąca obsługa Klientów prowadzona jest w dni robocze w godzinach od 8.00 do 16.00, pod numerem
                    telefonu: xxx xxx xxx oraz mailowo pod adresem: info@snowboard4humans.pl.
                </li>
                <li>Sprzedawca przyjmuje zamówienia przez całą dobę, we wszystkie dni tygodnia.
                </li>
                <li>Zamówienie są przekazane do realizacji w dniu złożenia lub w dniu następującym po złożeniu
                    zamówienia.
                </li>
                <li>Zamówienia złożone w soboty, w niedziele oraz w święta będą rozpatrywane następnego dnia roboczego.
                    Za dni robocze rozumie się dni tygodnia od poniedziałku do piątku, za wyjątkiem dni ustawowo wolnych
                    od pracy.
                </li>
                <li>W celu złożenia zamówienia należy wybrać towar, jego ilość, rozmiar i kolorystykę, a następnie
                    kliknąć „Dodaj do koszyka”. Kolejno należy wybrać opcję „Kontynuuj zakupy” – gdy Klient zamierza
                    złożyć zamówienie na jeszcze inne produkty lub wybrać opcję „Chcę złożyć zamówienie”. W dalszej
                    kolejności Klient jest proszony o wybranie opcji „Zakupy bez rejestracji”, opcji logowania, opcji
                    logowania przez portal facebook.com lub opcji rejestracji w serwisie.
                </li>
                <li>W celu złożenia zamówienia należy wypełnić formularz podając swoje dane kontaktowe oraz dane do
                    wysyłki. Klienci, którzy są już zarejestrowani, mogą zalogować się w serwisie i sprawdzić podane
                    wcześniej przez siebie dane.
                </li>
                <li>Klient wybiera sposób dostawy oraz sposób płatności, a następnie składa zamówienie w momencie
                    wybrania opcji „Zamawiam i płacę”.
                </li>
                <li>Złożenie zamówienia przez Klienta stanowi ofertę złożoną Sprzedawcy, co do zawarcia umowy sprzedaży,
                    zgodnie z postanowieniami regulaminu.
                </li>
                <li>Po złożeniu przez Klienta zamówienia otrzyma on drogą mailową, na adres podany w czasie rejestracji
                    lub składania zamówienia, albo telefonicznie, komunikat zawierający informacje dotyczące ilości
                    produktów,wartości zamówienia, wybranego rodzaju dostawy i płatności, czasu realizacji zamówienia
                    oraz danych teleadresowych Klienta (potwierdzenie złożenia zamówienia).<br><br>
                    Informacje dotyczące zamówienia są również widoczne na koncie Klienta, w przypadku gdy dokonał on
                    rejestracji konta w Sklepie.
                </li>
                <li>Po weryfikacji złożonego zamówienia przez dział handlowy Sklepu, Klient otrzyma potwierdzenie
                    przyjęcia zamówienia do realizacji, na wskazany przez niego adres poczty e-mail.
                    <br><br>
                    W chwili otrzymania przez Klienta potwierdzenia przyjęcia zamówienia do realizacji, dochodzi do
                    zawarcia umowy sprzedaży zamówionych przez Klienta towarów.
                </li>
                <li> W trakcie składania zamówienia, jak i rejestracji konta w Sklepie, Klient jest zobowiązany do
                    podania odpowiadających prawdzie danych, które będą wykorzystywane przez Sprzedawcę w celu
                    realizacji zamówień.
                    <br><br>
                    W przypadku powzięcia wątpliwości co do prawidłowości danych, Sprzedawca może poprosić o ich
                    potwierdzenie drogą telefoniczną lub elektroniczną.
                    <br><br>
                    W przypadku stwierdzenia, że podane dane są nieprawdziwe, niekompletne lub zawierają istotne błędy
                    uniemożliwiające realizacją zamówienia,
                    <br><br>
                    Sprzedawca zastrzega sobie możliwość wstrzymania realizacji zamówienia do czasu wyjaśnienia
                    wątpliwości.
                </li>
                <li>Podstawowym warunkiem realizacji zakupu towarów jest prawidłowe wypełnienie formularza zamówienia.
                </li>
                <li>W przypadkach, gdy zaistnieje konieczność uzyskania dodatkowych informacji o Klientom, Sprzedawca
                    zastrzega sobie prawo do telefonicznego kontaktu na wskazany przez Klienta numer telefonu.
                    <br><br>
                    Numer ten może również służyć kurierowi do kontaktu w przypadkach trudności w dostarczeniu przesyłki
                    lub w przypadku konieczności potwierdzenia zamówienia.
                </li>
                <li>Do każdego zamówienia wystawiany jest paragon fiskalny, a na życzenie Klienta również faktura VAT.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 5. CENY</p>
            <ol class="fontSize14">
                <li>Informacja o cenie zakupu towaru w Sklepie podawana jest na stronie Sklepu. Cena towaru nie ulegnie
                    zmianie niezależnie od zmian cen w Sklepie, które mogą się pojawić po potwierdzeniu przyjęcia do
                    realizacji zamówienia Klienta.
                </li>
                <li>Ceny produktów w Sklepie podawane są w złotych polskich i zawierają wszystkie jej składniki, w tym
                    VAT, cła i inne podatki.
                </li>
                <li>Sprzedawca zastrzega sobie prawo do zmiany cen towarów znajdujących się w ofercie Sklepu,
                    wprowadzania nowych towarów do oferty Sklepu, przeprowadzania i odwoływania akcji promocyjnych na
                    stronach Sklepu bądź wprowadzania w nich zmian, wycofania poszczególnych produktów ze sprzedaży, a
                    także do czasowego zamknięcia Sklepu.
                    <br><br>
                    Wszelkie tego typu zmiany i działania nie mają zastosowania do zamówień złożonych przed dokonaniem
                    zmian.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 6. FORMY PŁATNOŚCI I CZAS REALIZACJI ZAMÓWIENIA</p>
            <ol class="fontSize14">
                <li>Klient płaci cenę za zamówione produkty, wedle swego wyboru:
                    <br><br>
                    płatność on-line (przedpłata) za pośrednictwem systemu płatności elektronicznych DotPay.pl (kartą
                    kredytową, szybkim przelewem elektronicznym: lista banków jest widoczna podczas składania
                    zamówienia);<br>
                    płatność przy odbiorze (za pobraniem);<br>
                    odbierając zamówiony towar w sklepie istnieje możliwość zapłaty gotówką lub kartą płatniczą.
                </li>
                <li>W przypadku wyboru przez Klienta metody płatności w formie elektronicznej za pośrednictwem DotPay,
                    brak otrzymania płatności na rachunek Sprzedawcy lub podmiotów pośredniczących w transakcji w
                    terminie 3 dni od złożenia zamówienia, spowoduje anulowanie zamówienia. W takiej sytuacji można
                    powtórnie złożyć zamówienia.
                </li>
                <li>Termin realizacji zamówienia, tj. czas skompletowania zamówienia i przekazania zamówienia do
                    wysyłki, wynosi 24 godziny od momentu:
                    <br><br>
                    przyjęcia zamówienia do realizacji w przypadku zaakceptowanej płatności przez system Dotpay (podczas
                    płatności online);<br>
                    przyjęcia zamówienia do realizacji w przypadku płatności za pobraniem;<br>
                    zaksięgowania wpłaty we właściwej wysokości na koncie Sprzedawcy w przypadku płatności przelewem
                    tradycyjnym.
                </li>
                <li>Zamówiony towar wraz z dowodem zakupu (oryginał faktury lub paragon) wysyłany jest na adres podany
                    przez Klienta podczas składania zamówienia.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 7. DOSTAWA I KOSZTY WYSYŁKI</p>
            <ol class="fontSize14">
                <li>Zamówiony towar dostarczany jest do Klienta na terenie Polski na jego koszt za pośrednictwem firmy
                    kurierskiej GLS.
                </li>
                <li>Deklarowany przez firmę kurierską czas dostawy to 2 dni robocze od momentu przekazania przesyłki do
                    wysłania, w żadnym zaś razie czas dostawy nie przekroczy 30 dni od daty zawarcia umowy sprzedaży.
                </li>
                <li>Koszty przesyłki uzależnione są od wybranej formy płatności oraz wartości zamówienia i kształtują
                    się następująco:<br>
                    <br>
                    19 zł - w przypadku przedpłaty on-line;<br>
                    25 zł - w przypadku płatności za pobraniem;<br>
                    0 zł - w przypadku, gdy wartość zamówienia wynosi co najmniej 300 zł (niezależnie od formy
                    płatności).
                </li>
                <li>Koszty wysyłki zostaną automatycznie doliczone podczas wypełniania formularza zamówienia, po
                    wybraniu opcji płatności i opcji dostawy.
                </li>
                <li>Przed odebraniem przesyłki z od kuriera należy sprawdzić, czy opakowanie nie uległo uszkodzeniu w
                    transporcie, to znaczy czy paczka nosi ślady uderzeń, zbić, pęknięć.
                    <br><br>
                    Najczęściej rozpoznać można zniszczenie opakowania kartonowego po odgnieceniach, rozerwaniach,
                    odkształceniach lub zbytnim zaplamieniu.
                    <br><br>
                    W szczególności należy zwrócić uwagę na stan taśm zabezpieczających naklejonych na przesyłkę przez
                    pracowników Sklepu.
                    <br><br>
                    Klient może żądać od dostawcy (tj. pracownika kuriera) sporządzenia protokołu uszkodzeń.
                </li>
                <li>W przypadku, gdy opakowanie przesyłki nosi znamiona uszkodzenia lub gdy taśmy są zerwane Klient może
                    odmówić przyjęcia przesyłki i w obecności kuriera sporządzić protokół szkód oraz zachować kopię
                    protokołu.
                </li>
                <li>Klient może również dokonać odbioru zamówionego towaru osobiście lub za pośrednictwem własnego
                    kuriera, po uprzednim ustaleniu terminu i sposobu ze Sprzedawcą.
                    <br><br>
                    W tym celu jednak należy skontaktować się ze Sprzedawcą na adres mailowy: info@snowboard4humans.pl.
                </li>
                <li>Klient nie ponosi kosztów dostawy w przypadku odbioru osobistego.</li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 8. REKLAMACJE</p>
            <ol class="fontSize14">
                <li>Wszystkie produkty oferowane w Sklepie są fabrycznie nowe (chyba, że w opisie wyraźnie zaznaczono,
                    że są używane), wolne od wad fizycznych i prawnych oraz zostały legalnie wprowadzone na rynek
                    polski.
                </li>
                <li>Sprzedawca ponosi odpowiedzialność za wady towarów (rękojmia za wady).
                </li>
                <li>Jeżeli towar ma wadę Klient może żądać obniżenia ceny albo odstąpić od umowy, chyba że Sprzedawca
                    niezwłocznie i bez nadmiernych niedogodności wymieni rzecz wadliwą na wolną od wad albo wadę usunie.
                    <br><br>
                    Ograniczenie to nie ma zastosowania, jeżeli rzecz była już wymieniona lub naprawiona przez
                    Sprzedawcę albo Sprzedawca nie uczynił zadość obowiązkowi naprawy lub wymiany.
                    <br><br>
                    Klient będący konsumentem może żądać zamiast usunięcia wady wymiany towaru lub zamiast wymiany żądać
                    usunięcia wady chyba, że doprowadzenie do zgodności z umową w sposób wybrany przez
                    <br><br>
                    Klienta jest niemożliwe lub wymagałoby nadmiernych kosztów.
                </li>
                <li>Klient nie może odstąpić od umowy, jeżeli wada jest nieistotna.
                </li>
                <li>Sprzedawca odpowiada z tytułu rękojmi, jeżeli wada fizyczna zostanie stwierdzona przed upływem dwóch
                    lat od dnia wydania towaru Klientowi.
                </li>
                <li>Część towarów posiada gwarancję producenta obowiązującą na terenie całej Polski. Każdorazowo warunki
                    realizacji gwarancji są określone w karcie gwarancyjnej, o ile takowa została załączona do towaru
                    przez producenta. Reklamacje gwarancyjne należy składać zgodnie z treścią gwarancji. Dokument
                    gwarancji będzie przesłany wraz z towarem.
                </li>
                <li>Zgłoszenia reklamacji można dokonać w szczególności poprzez pobranie formularza dostępnego w
                    zakładce Reklamacje i zwroty, a następnie wypełnienie i dołączenie do przesyłki z reklamowanym
                    towarem poprzez odesłanie towaru wraz z pisemnym opisem wady lub formularzem reklamacyjnym pobranym
                    ze strony Sklepu.
                </li>
                <li>Towar należy odesłać pod adres Sklepu: Mazur Spółka jawna, ul. Stalowa 94, 53 – 440 Wrocław. Do
                    odsyłanego towaru należy dołączyć kopię faktury lub dokumentu zamówienia lub w inny sposób
                    udokumentować zakup towaru.
                </li>
                <li>Reklamacja rozpatrywana jest w terminie 14 dni od otrzymania przez Sprzedawcę reklamowanego towaru.
                    <br><br>
                    W przypadku uznania reklamacji wszelkie koszty usunięcia wady lub wymiany towaru obciążają
                    Sprzedawcę.
                </li>
                <li>W przypadku nie uwzględnienia reklamacji, towar zostanie odesłany wraz z opinią co do niezasadności
                    reklamacji.
                </li>
                <li>Brak odpowiedzi Sprzedawcy w ciągu 14 oznacza uznanie roszczeń Klienta.
                </li>
                <li>Klient może skorzystać z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń.
                    <br><br>
                    Chcąc skorzystać z możliwości polubownego rozwiązywania sporów dotyczących zakupów internetowych,
                    Klient może złożyć swoją skargę np. za pośrednictwem unijnej platformy internetowej ODR, dostępnej
                    pod adresem: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 9. ODSTĄPIENIE OD UMOWY</p>
            <ol class="fontSize14">
                <li>Klient będący konsumentem może w terminie 14 dni od umowy odstąpić bez podawania przyczyny i bez
                    ponoszenia kosztów z wyjątkiem:
                    <br><br>
                    kosztów wyboru sposobu dostarczenia towaru innego, niż najtańszy zwykły sposób dostarczenia
                    oferowany przez Sprzedawcę.<br>
                    W tym przypadku Sprzedawca nie jest zobowiązany do zwrotu Klientowi kosztów dodatkowych.<br>
                    Zwrócony zostanie koszt zgodnie z najtańszym sposobem dostawy, kosztów bezpośredniego zwrotu rzeczy
                    Sprzedawcy.
                </li>
                <li>Bieg terminu do odstąpienia od umowy rozpoczyna się od dnia odebrania towaru przez Klienta lub
                    wskazaną przez Klienta inną osobę trzecią inną, niż przewoźnik, a w przypadku, gdy:
                    <br><br>
                    na zakupiony towar składa się wiele rzeczy, które są dostarczane osobno, partiami lub w częściach,
                    termin 14 dni liczony jest od dnia dostarczenia ostatniej rzeczy, partii lub części,
                    Klientowi dostarczane jest wiele rzeczy przez czas oznaczony, termin 14 dni liczony jest od
                    dostarczenia Klientowi pierwszej rzeczy.
                </li>
                <li>Klient może odstąpić od umowy składając Sprzedawcy oświadczenie o odstąpieniu od umowy.
                    <br><br>
                    Oświadczenie o odstąpieniu może być złożone w szczególności na piśmie i wysłane na adres Sklepu:
                    XYZ Spółka jawna, ul. xxx xx, xx – xxx XYZ;
                    <br><br>
                    lub wysłane drogą elektroniczną na adres e-mail Sklepu: info@snowboard4humans.pl. Gotowy formularz
                    odstąpienia jest dostępny na stronie internetowej Sklepu w zakładce „Reklamacje i zwroty”.
                </li>
                <li>Do zachowania terminu wystarczy wysłanie oświadczenia przed jego upływem.
                </li>
                <li>W przypadku odstąpienia od umowy poprzez złożenie oświadczenia za pomocą poczty elektronicznej.
                    <br><br>
                    Klient niezwłocznie otrzyma potwierdzenie otrzymania oświadczenia o odstąpieniu od umowy na adres
                    mailowy.
                </li>
                <li>W przypadku odstąpienia od umowy we wskazany wyżej sposób, umowę uważa się za niezawartą, a jeżeli
                    Klient będący konsumentem złożył oświadczenie o odstąpieniu od umowy zanim Sprzedawca przyjął jego
                    ofertę, oferta przestaje wiązać.
                </li>
                <li>Sprzedawca niezwłocznie, jednak nie później niż w terminie 14 dni od dnia otrzymania oświadczenia
                    Klienta o odstąpieniu od umowy, zwraca Klientowi wszystkie dokonane przez Klienta płatności, w tym
                    koszty dostarczenia rzeczy. Zwrot płatności następuje w taki sam sposób, jakiego użył Klient
                    chyba, że Klient zgodzi się na inny sposób zwrotu, który nie wiąże się dla niego z żadnymi kosztami.
                </li>
                <li>Sprzedawca zastrzega sobie możliwość wstrzymania się ze zwrotem płatności otrzymanych od Klienta do
                    chwili otrzymania towaru z powrotem lub dostarczenia przez Klienta dowodu jego odesłania, w
                    zależności od tego, które zdarzenie nastąpi wcześniej.
                </li>
                <li>Klient ma obowiązek zwrócić towar Sprzedawcy lub przekazać ją osobie upoważnionej przez Sprzedawcę
                    do odbioru niezwłocznie, jednak nie później niż 14 dni od dnia, w którym odstąpił od umowy.
                    <br><br>
                    Do zachowania terminu wystarczy odesłanie rzeczy przed jego upływem.
                </li>
                <li>Klient ponosi tylko bezpośrednie koszty zwrotu rzeczy.
                </li>
                <li>Klient ponosi odpowiedzialność za zmniejszenie wartości rzeczy będące wynikiem korzystania z niej w
                    sposób wykraczający poza konieczny do stwierdzenia charakteru, cech i funkcjonowania rzeczy.
                </li>
                <li>Zwroty towaru powinny być kierowane na adres: XYZ Spółka jawna, ul. XYZ xx, xx – xxx XYZ.
                    <br><br>
                    Dla ułatwienia procedury zwrotu, do odsyłanego towaru można dołączyć kopię dokumentu zakupu lub
                    wypełniony formularz zwrotu.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 10. POLITYKA PRYWATNOŚCI</p>
            <ol class="fontSize14">
                <li>Administratorem danych osobowych Klientów w Sklepie jest XYZ Spółka jawna z siedzibą w XYZ,
                    ul. XYZ xx, xx – xxx XYZ.
                </li>
                <li>Dane osobowe Klienta są umieszczane w bazie Sprzedawcy oraz przetwarzane dla celów realizacji umowy
                    sprzedaży, w tym w szczególności operacyjnej realizacji zamówień, dostarczenia zamówionych
                    produktów, dochodzenia należności oraz wykonywania innych uprawnień i
                    obowiązków umownych i wynikających z obowiązujących przepisów prawa.
                    <br><br>
                    Dane są gromadzone tylko w takim zakresie w jakim to jest konieczne, dla realizacji zamówienia
                    konieczne jest podanie następujących danych osobowych: imię i nazwisko, adres e-mail, telefon
                    kontaktowy, adres dostawy.
                </li>
                <li>Dane te nie są i nie będą udostępniane innym podmiotom bez wiedzy i zgody Klienta.
                </li>
                <li>W celu realizacji umowy sklep internetowy może udostępniać zebrane od Państwa dane do następujących
                    podmiotów (dane partnerów w tym tych, za pomocą których sklep realizuje zobowiązania lub wskazanie
                    rodzajowe grupy takich partnerów, np. firmy kurierskie, operatorów systemów płatności,
                    firmy obsługujące reklamacje i td.).
                    <br><br>
                    W takich przypadkach ilość przekazywanych danych ograniczona jest do wymaganego minimum. Ponadto,
                    podane przez Państwa informacje mogą zostać udostępnione właściwym organom władzy publicznej, jeżeli
                    wymagają tego obowiązujące przepisy prawa.
                </li>
                <li>Dane te są gromadzone z należytą starannością i odpowiednio chronione przed dostępem osób do tego
                    nieupoważnionych, zgodnie z ustawą z dnia 29 sierpnia 1997 r. O ochronie danych osobowych.
                </li>
                <li>W przypadku zaznaczenia przez Klienta odpowiedniego „okienka” w Sklepie, lub w razie wyrażenia przez
                    niego woli subskrypcji „newslettera”, Klient wyraża dodatkowo zgodę na przetwarzanie przez
                    Sprzedawcę jego danych osobowych w celu informowania Klienta o nowych usługach lub towarach
                    dostępnych w Sklepie.
                    <br><br>
                    Zgoda na otrzymywanie informacji handlowej może być w każdym czasie cofnięta poprzez kliknięcie
                    „rezygnuję” w stopce wiadomości e-mail.
                </li>
                <li>Klienci mają prawo wglądu do swoich danych osobowych, poprawiania ich oraz żądania usunięcia w
                    każdym czasie, a także mają prawo wniesienia sprzeciwu co do przetwarzania danych osobowych dla
                    celów marketingowych.
                </li>
                <li>Sklep internetowy nie zbiera w sposób automatyczny żadnych danych, z wyjątkiem danych zawartych w
                    plikach cookies podczas samego korzystania z Witryny.
                    <br><br>
                    Pliki cookies to małe pliki tekstowe wysyłane przez sklep internetowy i przechowywane na Państwa
                    komputerze zawierające pewne informacje związane z korzystaniem przez Państwa z Witryny i Sklepu
                    Internetowego. Wykorzystywane przez sklep internetowy pliki cookies mogą mieć charakter tymczasowy
                    lub trwały.
                    <br><br>
                    Tymczasowe pliki cookies są usuwane z chwilą zamknięcia przeglądarki, natomiast stałe pliki cookies
                    są przechowywane także po zakończeniu korzystania przez Państwa z Witryny i służą do przechowywania
                    informacji takich jak Państwa hasło czy login, co przyspiesza i ułatwia korzystanie z
                    Witryny. Sklep internetowy wykorzystuje wymienione pliki cookie w następujących celach:
                    <br><br>
                    utrzymanie sesji użytkownika Witryny (po zalogowaniu), dzięki której użytkownik nie musi na każdej
                    podstronie Witryny ponownie wpisywać loginu i hasła;<br>
                    tworzenia statystyk, które pomagają zrozumieć, w jaki sposób użytkownicy Witryny korzystają ze stron
                    internetowych, co umożliwia ulepszanie ich struktury i zawartości.<br>
                    W każdym wypadku mogą Państwo zablokować instalowanie plików cookies lub usunąć stałe pliki cookies,
                    wykorzystując stosowne opcje Państwa przeglądarki internetowej.<br>
                    <br><br>
                    W razie problemów doradzamy skorzystać z pliku pomocy przeglądarki lub skontaktować się z
                    producentem przeglądarki, z której Państwo korzystacie.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 11. WYMAGANIA TECHNICZNE</p>
            <p class="fontSize14"> Minimalne wymagania techniczne wobec komputera, używanego do zakupów w Sklepie:
                komputer z dostępem do sieci Internet oraz poczty e-mail, wymagane oprogramowanie:
                <br><br>
                komputer z systemem operacyjnym obsługującym jedną z poniższych przeglądarek internetowych: Internet
                Explorer 7.x i nowsze, Firefox 2.x i nowsze, Chrome 10.x i nowsze, Opera 8.x i nowsze,
                <br><br>
                przeglądarka z włączoną obsługą akceptacji ciasteczek (cookies) oraz włączoną obsługą Java Script,
                wymagania sprzętowe: procesor klasy Pentium 233MHz lub szybszy, min. 64MB pamięci RAM,
                <br><br>
                karta wideo i monitor o rozdzielczości min. 1024px w poziomie, klawiatura lub dowolne urządzenie
                wskazujące.
            </p>
            <p class="fontSize14">.</p>
        </div>
        <div class="firstMessage paddingLeft20paddingRight20textAlignJustify">
            <p class="fontSize18">§ 12. POSTANOWIENIA KOŃCOWE</p>
            <ol class="fontSize14">
                <li>Regulamin wchodzi w życie z dniem 25 grudnia 2014 r.
                </li>
                <li>Sprzedawca może dokonać zmian w niniejszym regulaminie, przy czym zmiana dokonywana jest poprzez
                    umieszczenie nowej treści regulaminu na stronach Sklepu<br>
                    <br>
                    z wyraźnym określeniem daty wejścia w życie, nowego regulaminu. Informacja o planowanej zmianie
                    regulaminu pojawi się na stronie Sklepu na 7 dni przed zamieszczeniem zmian.<br>
                    <br>
                    Zarejestrowani Klienci zostaną poinformowani o zmianach mailowo i w przypadku nie zaakceptowania
                    zmian mogą zrezygnować z konta w Sklepie.<br>
                    <br>
                    Zmiana regulaminu w żaden sposób nie narusza praw nabytych Klientów i nie ma zastosowania do umów
                    zawartych przed zmianą.
                </li>
                <li>W sprawach nieuregulowanych w regulaminie mają zastosowanie przepisy prawa polskiego, a zwłaszcza
                    Kodeksu cywilnego (tekst jedn. Dz. U. z 2014 r., poz. 121),

                    a w przypadku Klientów będących konsumentami dodatkowo przepisy Ustawy o prawach konsumentów (Dz. U.
                    z 2014 r., poz. 827).
                </li>
                <li>W przypadku Klientów nie będących konsumentami nie stosuje się postanowień wskazanych w § 9.
                    regulaminu – Odstąpienie od umowy.
                </li>
                <li>Niedozwolone jest dostarczanie przez Klienta do Sklepu treści o charakterze bezprawnym.
                </li>
                <li>Wszelkie spory powstałe na gruncie regulaminu lub umów sprzedaży rozstrzygał będzie polski sąd
                    powszechny.
                </li>
            </ol>
            <p class="fontSize14">.</p>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="homepage/footer :: footer"/>
</div>


<!--Scripts JS-->
<div th:replace="general/headAndScripts :: scripts"/>
</body>
</html>