<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">

<div th:fragment="footer">
    <footer class="footerFreeSpace30px">
        <div class="row">
            <div class="col-3">
                <h7>ZAPISZ SIĘ DO NEWSLETTERA</h7>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" th:href="@{/}">
                        <form action="index.html">
                            <input type="text" name="nazwa" placeholder="Twój adres email*" size="30"
                                   class="borderRadius5MinHeight30MaxHeight35BorderColor109163207099">
                            <input type="submit" value="Wyślij"
                                   class="borderRadius5MinHeight30MaxHeight35">
                        </form>
                    </a></li>
                    <li class="text-muted">* Możesz zrezygnować w każdej chwili. W tym celu należy odnaleźć
                        szczegóły w naszej informacji prawnej.
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <h7>O NAS</h7>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" th:href="@{/onas/o-firmie}">O firmie</a></li>
                    <li><a class="text-muted" th:href="@{/onas/praca}">Praca</a></li>
                    <li><a class="text-muted" th:href="@{/onas/serwis-i-wypozyczalnia}">Serwis i wypożyczalnia</a></li>
                    <li><a class="text-muted" th:href="@{/onas/nasz-sklep-stacjonarny}">Nasz sklep stacjonarny</a></li>
                    <li><a class="text-muted" th:href="@{/onas/regulamin-sklepu}">Regulamin sklepu</a></li>
                    <li><a class="text-muted" th:href="@{/onas/aktualne-promocje}">Aktualne promocje</a></li>
                    <li><a class="text-muted" th:href="@{/onas/kontakt}">Skontaktuj się z nami</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h7>STREFA KLIENTA</h7>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" th:href="@{/strefa-klienta/dane-kontaktowe}">Dane kontaktowe</a></li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/polityka-prywatnosci}">Polityka prywatności</a>
                    </li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/dostawa-i-platnosci}">Dostawa i płatności</a>
                    </li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/reklamacje-i-zwroty}">Reklamacje i zwroty</a>
                    </li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/faq}">FAQ</a></li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/odbior-osobisty}">Odbiór osobisty</a></li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/zagraniczna-wysylka}">Zagraniczna wysyłka</a>
                    </li>
                    <li><a class="text-muted" th:href="@{/strefa-klienta/blog}">Blog</a></li>
                </ul>
            </div>
            <div class="col-2">
                <h7>MOJE KONTO</h7>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Moje konto</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled text-small">
                    <li class="text-muted"><a th:href="@{/}">
                        <img class="mb-2" th:src="@{/images/logos/logo.png}" width="170"
                             height="24" alt="snowboard4humans"></a>
                    </li>
                    <br>
                    <li class="text-muted">
                        <img class="mb-2" th:src="@{/images/logos/phone.png}"
                             width="15" height="10">
                        | +48 xxx xxx xxx
                        <br>Poniedziałek - piątek (8:00 - 16:00)
                    </li>
                    <br>
                    <li class="text-muted">
                        <a href="mailto:info@snowboard4humans.pl">
                            <img class="mb-2" th:src="@{/images/logos/mail.png}" width="15" height="15">
                            info@snowboard4humans.pl
                        </a>
                        <br>Uprzejmie informujemy, iż nie
                        <br>przyjmujemy zamówień drogą
                        <br>telefoniczną oraz mailową.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row&copy textItemsCenter">
            <p class="textAlignCenter">
                <small class="d-block mb-3 text-muted">
                    &copy; Copyright snowboard4humans.pl. All rights reserved.
                </small>
            </p>
        </div>

        <div class="row&socialMedia textItemsCenter">
            <!-- <div>Icons made by <a th:href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                th:href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
                th:href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a></div> -->
            <p class="textAlignCenter">
                <img class="mb-2" th:src="@{/images/logos/facebook.png}" width="20" height="20">
                <img class="mb-2" th:src="@{/images/logos/google-plus.png}" width="20" height="20">
                <img class="mb-2" th:src="@{/images/logos/youtube.png}" width="20" height="20">
                <img class="mb-2" th:src="@{/images/logos/instagram.png}" width="20" height="20">
            </p>
        </div>
    </footer>
</div>