<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="pl-PL">

<div th:fragment="header">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom border-top box-shadow fontSize10">
            <div class="my-auto mr-md-auto">
                <img class="mb-2 marginRight5" th:src="@{/images/logos/poland.png}"
                     th:width="15" th:height="10">Wybierz język
            </div>

            <div class="my-auto mr-md-auto">
                Do kolejnej wysyłki pozostało: 12:56:11
            </div>

            <div class="fontSize12">
                Witaj,&nbsp;&nbsp;
                <span sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="marginRight15">Zaloguj się</a>
                    <a th:href="@{/homepage/register}" class="colorRed">Zarejestruj się</a>
                </span>

                <span sec:authorize="isAuthenticated()">
                    <span sec:authentication="name"></span>
                    <a>, </a>
                    <a th:href="@{/logout}">Wyloguj się</a>
                </span>

            </div>
        </div>

        <div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <div class="displayFlex justifyContentSpaceBetween marginBottom40px">
                <div>
                    <a th:href="@{/}">
                        <img class="mb-2" th:src="@{/images/logos/logo.png}" th:width="450" th:height="60"
                             th:alt="logo" th:border="30px">
                    </a>
                </div>
                <div class="displayFlex justifyContentSpaceBetween positionRelative" style="margin-top: 10px">
                    <form class="searchForm" th:action="@{/homepage/search}">
                        <input type="text" placeholder="Szukaj.." name="searchBy" size="60"
                               class="fontWeightRevertBorRad15MinH35MaxH35BorCol109163207099">
                        <button type="submit" class="borderRadius15MinHeight35MaxHeight35">Szukaj</button>
                    </form>

                    <span sec:authorize="isAnonymous()">
                        <a th:href="@{/homepage/register}">
                            <img class="mb-2 marginLeft5MarginRight15" th:src="@{/images/logos/register.png}"
                                 width="25" height="25" alt="register">
                        </a>
                    </span>
                    <span sec:authorize="isAuthenticated()">
                        <a th:href="@{/homepage/myAccount}">
                            <img class="mb-2 marginLeft5MarginRight15" th:src="@{/images/logos/mojeKonto.PNG}"
                                 width="25" height="24" alt="mojeKonto">
                        </a>
                    </span>
                    <a th:href="@{/homepage/shoppingCart}">
                        <img class="mb-2 marginLeft5MarginRight15" th:src="@{/images/logos/koszyk.PNG}"
                             width="25" height="25" alt="koszyk">
                    </a>
                </div>
            </div>

            <div class="menu">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <div class="dropdown">
                            <button class="dropbtn borderTopLeftRadius5BorderBottomLeftRadius5">
                                DESKI
                            </button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='snowboards',sex='woman')}">DESKI SNOWBOARDOWE
                                    DAMSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboards',sex='man')}">DESKI SNOWBOARDOWE
                                    MĘSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboards',sex='child')}">DESKI SNOWBOARDOWE
                                    JUNIORSKIE</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">BUTY</button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='snowboardShoes',sex='woman')}">BUTY SNOWBOARDOWE
                                    DAMSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardShoes',sex='man')}">BUTY SNOWBOARDOWE
                                    MĘSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardShoes',sex='child')}">BUTY SNOWBOARDOWE
                                    JUNIORSKIE</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">WIĄZANIA</button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='snowboardBindings',sex='woman')}">WIĄZANIA
                                    SNOWBOARDOWE DAMSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardBindings',sex='man')}">WIĄZANIA
                                    SNOWBOARDOWE MĘSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardBindings',sex='child')}">WIĄZANIA
                                    SNOWBOARDOWE UNIORSKIE</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">RĘKAWICE</button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='snowboardGloves',sex='woman')}">RĘKAWICE
                                    SNOWBOARDOWE DAMSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardGloves',sex='man')}">RĘKAWICE
                                    SNOWBOARDOWE MĘSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardGloves',sex='child')}">RĘKAWICE
                                    SNOWBOARDOWE JUNIORSKIE</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">GOGLE</button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='snowboardGoggles',sex='woman')}">GOGLE
                                    SNOWBOARDOWE DAMSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardGoggles',sex='man')}">GOGLE SNOWBOARDOWE
                                    MĘSKIE</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardGoggles',sex='child')}">GOGLE
                                    SNOWBOARDOWE JUNIORSKIE</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">KASKI</button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='snowboardHelmets',sex='woman')}">KASKI
                                    SNOWBOARDOWE DAMSKA</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardHelmets',sex='man')}">KASKI SNOWBOARDOWE
                                    MĘSKA</a>
                                <a th:href="@{/homepage/equipment(eqm='snowboardHelmets',sex='child')}">KASKI
                                    SNOWBOARDOWE JUNIORSKA</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">ODZIEŻ TERMOAKTYWNA</button>
                            <div class="dropdown-content">
                                <a th:href="@{/homepage/equipment(eqm='thermoactiveClothing',sex='woman')}">ODZIEŻ
                                    SNOWBOARDOWA DAMSKA</a>
                                <a th:href="@{/homepage/equipment(eqm='thermoactiveClothing',sex='man')}">ODZIEŻ
                                    SNOWBOARDOWA MĘSKA</a>
                                <a th:href="@{/homepage/equipment(eqm='thermoactiveClothing',sex='child')}">ODZIEŻ
                                    SNOWBOARDOWA JUNIORSKA</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn borderTopRightRadius5BorderBottomRightRadius5">
                                <a th:href="@{/homepage/manufacturer}">PRODUCENCI</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lineUnderMenu"></div>
    </header>
</div>